<html>
  <head>
    <title>Simple Map</title>

    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxkrg5luZowjpRgOeB8n9yvHXA-B55EZ0&libraries=places&sensor=false&&libraries=geometry,drawing"
    async defer></script>
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/style/main.css">
    <script type="text/javascript" src="/scripts/main.js"></script>
    <!-- <script type="text/javascript" src="js/main.js"></script> -->
  </head>

  <body>
    <from id="floating-panel">
    Start: <input type="text" name="From" id="from"> 
    End:  <input type="text" name="To" id="to">
    <button onclick = "submit()"> Submit</button>
    <div id="directionsPanel">direction</div>
    </from>
    <div id="map"></div>
    <!-- <div id="directionsPanel" style="float:right;width:30%;height 100%">direction</div> -->
  </body>

</html>